<h1>Navigate to one of FOUR features!</h1>

<h3><%= link_to "Filter electives based on Penn Course Review metrics", new_query_path %></h3>
<br><br>

<h4>Find a course that starts at a particular time</h4>

<h4>Find courses between two numbers (all courses above 200+)</h4>

<h4>Feeling Lucky! Let the application find a course for you ;)</h4>
