<br><br><br>
<h1>Navigate to one of THREE features!</h1>

<h3><%= link_to "Filter electives based on Penn Course Review metrics", new_query_path %></h3>
<br><br>

<h3><%= link_to "Find courses between two numbers (eg all CIS courses between 200 and 300)", new_querynumber_path %></h3>
<br><br>

<h3><%= link_to "Find sections that happen on a particular time & day", new_querytiming_path %></h3>
<br><br>

