<h1>Find your courses with the form below!</h1>

<%= form_for @query do |f| %>

    <%= f.hidden_field :course_id, :value => course.id %>
       <li><%= link_to "#{course.department} #{course.number_to_s} - #{course.name}", course %><br><%= f.submit class: 'tiny nice white radius button' %>
       </li>
     <% end %>
   <% end %>