<div class="coursebox2">
<h1>All Queries for Course Numbers</h1>

<%= will_paginate %>

<ul class="courses">
  <% @querynumbers.each do |query| %>
    <li>
    <%= link_to "#{query.created_at.strftime("Created on %m/%d/%Y at %r")}", query %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
  
</div>
<br><br><br>




