<footer>
  <hr style="solid:#000;" />
  <div id="footer"><font face="palatino">
    <div id="footer-inner" class="container_12">
      <%= link_to "Home", root_path %>
      <span>|</span> <%= link_to "All Courses", courses_path %>
      <p id="copyright">
          Copyright &copy; 2012
          <a><strong>Penn Course Finder</strong></a>
      </p>
      </font>
    </div>
  </div>
</footer>